<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="../../../assets/icon.png" class="icon">Shopoo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"> 


        
          
          <li class="nav-item active">
              <a class="nav-link" routerLink="/seller"><i class="fa fa-home"></i> <span class="hidden"> Inventory </span><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/transact"> <i class="fa fa-bar-chart"> </i><span class="hidden">Sales</span></a>
          </li> 
          
          

      </ul>
      <form class="form-inline my-2 my-lg-0">
      
      <button *ngIf="user === null" class="btn btn-info" routerLink="/login">Login</button>
      <button *ngIf="user !== null" class="btn btn-info" (click) = "logout()">Logout</button>
      </form>
  </div>
  </nav>
</div>