form{
    width: 200px;
    margin: auto;
}

p{
    margin-top: 100px;
}

.pass{
    margin-top:  20px;
}

button{
    margin:  20px 0;
}

.loginBtn, .btn{
    background-color: rgb(75, 148, 124);
    border: none;
    color: white;
    border-radius: 2px;
}

a{
    font-size: smaller;
    margin-top: 10px;
    color: rgb(41, 92, 64);
}
.main{
    min-height: 60vh;
}

p{
    text-align: center;
}