form{
    width: 200px;
    margin: auto;
}

p{
    margin-top: 100px;
}

input{
    margin-bottom: 20px;
}

.btn{
    background-color: rgb(204, 247, 165);
}

.btn:hover{
    background-color: rgb(105, 189, 27);
}