button, .grand{
    border:none;
    width: 230px;
    height: 40px;
    background-color:  rgb(219, 217, 217);
    color:rgb(29, 29, 29);
    text-align: center;
    line-height: 40px;
}

.list-group-item-success{
    background-color: rgb(116, 221, 181);
    color: black;
}

.heading{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2em;
}

.grand{
    width: 560px;
    background-color:black;
    color: rgb(214, 211, 216);
}

button:hover{
    background-color: rgb(83, 134, 177);
    color: white;
}

.head{
    font-weight: bold;
}


.main{
    padding: 20px;
    padding-top: 80px;
    min-height: 70vh;
}

.flex{
    display: flex;
    justify-content: space-between;
}