button, .grand{
    border: 1px rgb(116, 221, 181) solid;
    width: 230px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color:rgb(11, 206, 131);
    text-align: center;
    line-height: 40px;
}

.list-group-item-success{
    background-color: rgb(116, 221, 181);
    color: black;
}

.grand{
    background-color: rgb(116, 221, 181);
    color: rgb(22, 22, 22);
}

button:hover{
    background-color: rgb(116, 221, 181);
    color: white;
}

.head{
    font-weight: bold;
}


.main{
    padding: 20px;
    padding-top: 80px;
    min-height: 70vh;
}

.cartpopup{
    padding: 40px;
}
