/* img{
    max-width: 260px;
} */

.product{
    position: relative;
    justify-content: center;
    display: grid;
}


p{
    text-align: center;
}

.search{
    position: absolute;
    right: 76px;
    top: 400px;
}

.main-products{
    margin: 60px 0;
    padding: 40px 0;
}

.clear{
    margin-top: 22px
}