.product{
    position: relative;
    justify-content: center;
    display: grid;
}

p{
    text-align: center;
}

.search{
    position: absolute;
    right: 415px;
    top: 450px;
}
.searchBtn, .searchInput > input, .sortBtn{
    border: 1px rgb(101, 173, 170) solid;

    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(127, 183, 201);
}

.searchBtn, .sortBtn{
    background-color: rgb(101, 173, 170);
    color: white;
}

@media screen and (max-width: 700px){
    .search{
        top: 80px;
        z-index: 0;
    }
}

.main-products{
    margin: 90px 0;
    padding: 40px 0;
}

.clear{
    margin-top: 22px
}

select{
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(116, 124, 124);
    border: solid 1px rgb(127, 183, 201);

}
