.footer{
    background-color: #343a40;
    margin: auto;
    margin-top: 300px;
    left: 0;
    bottom: 0;
    width: 100%;
    /*position: absolute;*/
}
bg-dark footer{
    position: fixed;
}
.icons > i{
    margin-right: 30px;
    color:white;
}


@media (max-device-width: 2000px) and (orientation: landscape)  {
    footer {
        background-color: #343a40;
        margin: auto;
        margin-top: 300px;
        left: 0;
        bottom: 0;
        width: 100%;
        position: fixed;
    }
   
    h1{
        color:white;
    }
    p{
        color:white;
    }
    .asia{
        color:white;
    }
  }