img{
    max-width: 250px;
    position: absolute;
    z-index: 0;
    max-height: 300px;

}

img:hover{
    transform: scale(1.3);
}

.desc{
    position: absolute;
    background-color: rgb(216, 213, 177);
    width: 260px;
    z-index: 1;
}


.addtoCart{
    background-color:rgb(43, 43, 42);
    width: 100%;
    border: none;
    color: rgb(211, 202, 194);
    height: 40px;
}

.addtoCart:hover{
    background-color:  rgb(207, 205, 205);
    color: black;
}

i{
    margin-top: 5px;
}


.img-wrapper{
    width: 100%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(212, 210, 210);
    box-sizing: border-box;
    z-index: 0;
}

.item-wrapper{
    width: 260px;
    text-align: center;
}

strong > p{
    margin-top: 20px;
}

.fa-heart{
    color: palevioletred;
    cursor: pointer;
}

.heart2{
    color: rgb(196, 194, 194);
}


.alert-success{
    height: 40px;
    text-align: center;
    z-index: 1;
}

.alert-success{
    /* margin-left: 10px; */
    height: 40px;
}

.alert-success > p{
    padding-left: 10px;
}