.error-block{
    color:red;
}

.form-control{
    width: 40%;
}
textarea{
    height:100px;
    padding-top: 10px;
}

.input-group-text{
    width : 150px; /*adjust as needed*/
  }
  
  
  .btn{
      margin-bottom: 10px;
  }

  .seller-header{
    margin-top: 90px;
    /* height: 200px; */
    border: 1px solid rgb(212, 206, 206);
    display: flex;
    align-items: center;
    box-shadow: rgb(212, 206, 206) 4px 2px;
    margin-bottom: 20px;
}

.seller-header > h1{
    margin: 10px;
}

.alert-success{
    height: 40px;
    width: 250px;
    text-align: center;
    z-index: 1;
}

.alert-success{
    height: 40px;
}

.alert-success > p{
    padding-left: 10px;
}