
<app-seller-navbar></app-seller-navbar>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-2">Seller Dashboard</h1>
      <a class="btn btn-info pull-right"  role="button"[routerLink]="['/seller']" >Back</a>
  </div>

<div class="main">
    <form #newProductForm="ngForm" (ngSubmit) = "onUpdate(newProductForm.value)" > 
      <div class ="container">

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend" data-toggle="tooltip" title="Product Name">
          <div class="input-group-text">
            <i class="fa fa-cart-plus"> Product Name </i>
        </div>
        </div>
          <input type="text" class="form-control" name="pname" placeholder="Product Name"
          [(ngModel)]="productObj.name" ngModel >
      </div>
     
  </div>

    <div class="form-group">
    <div class="input-group">
    <div class="input-group-prepend" data-toggle="tooltip" title="Description of the Product" >
      <div class="input-group-text">
          <i class="fa fa-info-circle"> Product Details </i>
      </div>
      </div>
      <textarea row="6"  cols="50" type="text" class="form-control" name="pdetails" placeholder="Product Details"
      [(ngModel)]="productObj.description" ngModel ></textarea>
    </div>

      </div> 
      <div class="form-group">
      <div class="input-group">
      <div class="input-group-prepend" data-toggle="tooltip" title="Product Price">
        <div class="input-group-text">
            <i class="fa fa-money">    Product Price </i>
        </div>
        </div>
      <input type="number" class="form-control" name="pprice" placeholder="Product Price" 
      [(ngModel)]="productObj.price" ngModel>
      </div>
      </div> 

        <div class="form-group">
        <div class="input-group">
        <div class="input-group-prepend" data-toggle="tooltip" title="Product Quantity">
          <div class="input-group-text">
              <i class="fa fa-cube"> Product Quantity </i>
          </div>
          </div>
          <input type="number" class="form-control" name="pquantity" placeholder="Product Quantity"
          [(ngModel)]="productObj.stocks" ngModel >
        </div>
        </div> 

  <div>
  <button type="submit" class="btn btn-success pull-right" >Update Product</button>
</div>

</div> <!--container--->
</form>
</div> <!--main--->
