<div class="container">
  <div class="seller-header">
  <!---  <h1 class="display-2">Seller Dashboard</h1>--->
      <h1 *ngIf="isSeller1" class="display-2">{{Seller1String}}</h1>
      <h1 *ngIf="isSeller2" class="display-2" >{{Seller2String}}</h1>
      <div class ="export action">
        <button class="btn btn-info pull-right" (click)="onExportExcel()" >Export to Excel</button>

        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Add New Product</button>
      </div>
  </div>
  <div class="container ">     
    <div class="row search">
            <div class="searchInput">
                <input class="" type="text" placeholder="Search Product" [(ngModel)] = "searchProduct" aria-label="Search">
            </div>
            <div>
                <button class="searchBtn mr-sm-2 " type="button"  ><i class="fa fa-search"></i></button>
            </div>
    </div>
</div>

<div class="container tab">
 
  <table id="dataTable" class="table table-bordered table-sm row-border hover"  > 
    
    
    <thead style="text-align:center"  >
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody style="text-align:center" >
      <tr *ngFor="let list of upproducts  | filter: searchProduct: 'name' ">
        <td colspan="1" >{{list.id}}</td>
        <td colspan="1" ><img src="{{list.imageUrl}}" class="img-thumbnail" style="height:100px;" /></td>
        <td colspan="1" >{{list.name}}</td>
        <td colspan="1" >{{list.price | currency: 'PHP' }}</td>
        <td colspan="1">{{list.stocks}}
        </td>
        <td colspan="1" class="act">
          <button class="btn btn-info btn-sm" [routerLink]="['/updateproduct',list.id]">Update</button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(list.id)">Delete</button>
        </td>
      </tr>
  </tbody>
  </table>
  </div>


<div class="container"><!-- Container -->
  <div class="modal fade" id="myModal" role="dialog">  <!-- Modal -->
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        
          <h4 class="modal-title">New Product</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="container"><!-- Modal container-->
            <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-cart-plus"></i>
                    </div>
                    </div>
                      <input type="text" class="form-control" name="pname" placeholder="Product Name" formControlName="name">
                  </div>
                  <span *ngIf = "!name.valid && name.touched" class="error-block"> Please Input Product Name</span>
              </div>
             
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                  <i class="fa fa-info-circle"></i>
              </div>
              </div>
              <input type="text" class="form-control" name="pdetails" placeholder="Product Details" formControlName="description" >
          </div>
          <span *ngIf = "!description.valid && description.touched" class="error-block"> Please Input Product Details</span>
    </div> 
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
              <i class="fa fa-money"></i>
          </div>
          </div>
          <input type="number" class="form-control" name="pprice" placeholder="Product Price" formControlName="price" >
      </div>
      <span *ngIf = "!price.valid && price.touched" class="error-block"> Please Input Price</span>
  </div> 

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                  <i class="fa fa-cubes"></i>
              </div>
              </div>
              <input type="number" class="form-control" name="pquantity" placeholder="Product Quantity" formControlName="stocks" >
          </div>
          <span *ngIf = "!stocks.valid && stocks.touched" class="error-block"> Please Input Quantity</span>
      </div> 
     
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
              <i class="fa fa-tag"></i>
          </div>
          </div>
         <!--- <img [src]="url" height="200"> <br/>-->
          <input type="file" class="form-control" name="image" (change)="onSelectFile($event)" formControlName="imageUrl" >
      </div>
      <span *ngIf = "!imageUrl.valid && imageUrl.touched" class="error-block"> Please Select File</span>
  </div> 
    <button [disabled]='!newProductForm.valid' type="submit" class="btn btn-success">Add Product</button>
          </form>
        </div><!-- Modal container-->
        </div><!-- Modal Body-->
        <div class="modal-footer">        
         <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        </div>
      </div>
      
    </div>
  </div> <!-- Modal --> 
</div><!-- Container -->