
img{
    max-width: 190px;
    max-height: 200px;
}

@media screen and (max-width: 990px) and (min-width: 766px){
    img{
        max-width: 150px;
    }
}

.cart-item{
    /* border: 1px rgb(199, 197, 197) solid; */
    background-color: rgb(233, 231, 235);
    margin-bottom: 20px;
    font-size: 12px;
    box-shadow: 0 0 4px rgb(110, 109, 109);
}

.trash{
    margin-top: 20px;
}

.img-wrapper{
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
    object-fit: contain;
}

.productName{
    font-size: 30px;
}