.form{
    width: 500px;
    margin: auto;
    margin-top: 70px;
}

form{
    
    padding: 50px;
}

input{
    margin-bottom: 20px;
}

button{
    margin-bottom: 20px;
}

.loginBtn, .btn{
    background-color: rgb(75, 148, 124);
    border: none;
    color: white;
    border-radius: 2px;
}
